*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body { 
    background: #0b131e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    width: 90%;
    max-width: 470px;
    background-color: #202b3b;
    color: #f0f1f1;
    margin:50px auto;
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.9);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: none;
    background: #cfd4dd;
    padding: 10px 25px;
    height: 60px;
    border-radius: 10px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}

.search button{
    border:0;
    outline:0;
    background:#cfd4dd;
    border-radius:10px;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.search button img{
    width: 40px;
    height: 40px;
}

.weather-icon{
    width:170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.col{
    display: flex;
    text-align: left;
    align-items: center;
}

.humidity, .wind{
    font-size: 28px;
    margin-top:-6px;
}