*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body { 
    background: #0b131e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    width: 100%;
    max-width: 920px;
    background-color: #202b3b;
    color: #f0f1f1;
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.9);
    display: flex;
    flex-direction: row;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: none;
    background: #cfd4dd;
    padding: 10px 25px;
    height: 60px;
    border-radius: 10px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}

.search button{
    border:0;
    outline:0;
    background:#cfd4dd;
    border-radius:10px;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.search button img{
    width: 40px;
    height: 40px;
}

.weather-icon{
    width:170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
    gap:40px;
}

.col img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.col{
    display: flex;
    text-align: left;
    align-items: center;
}

.humidity, .wind, .feels, .pressure, .sunrise, .sunset, .mintemp, .maxtemp{
    font-size: 28px;
    margin-top:-6px;
}

.break{
    padding: 0px;
    margin:auto 20px;
    border: #cfd4dd98 solid 1.5px;
    height: 510px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap:30px;
}


.left{
    min-width: 450px;
}



@media only screen and (max-width: 815px) {

    .details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .card{
        display: flex;
        flex-direction: column;
        margin: 5px auto;
        max-width: 90%;

        padding: 40px 0px;
    }

    form{
        margin: 0 auto;
    }

    .weather h1{
        font-size: 32px;
    }

    .weather-icon{
        width: 100px;
    }

    .break{
        height: 1px;
        width: 90%;
        margin: 20px auto;

    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    

    .search{
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search input{
        height: 40px;
        width: 40px;
    }

    .search button{
        height: 40px;
        width: 40px;
    }

    .search button img{
        width: 30px;
        height: 30px;
    }

    .humidity, .wind, .feels, .pressure, .sunrise, .sunset, .mintemp, .maxtemp{
        font-size: 16px;
        margin-top:-6px;
    }

    .left{
        min-width: 0;
    }

    .sunrisepad{
        padding-right: 10px;
    }
  }